<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link href="main.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<title>Farmer's Market Search</title>
</head>
<body>
	<h1>Search Results</h1>
	<div class="background">
  		<div class="transbox">
	<p>
		These are the <strong><%= markets.length %></strong> nearest markets to <%= zipcode %>. Click on the links for specific market details.
	</p>
	<% markets.each do |market| %>
		<ul>
		  <li>
			Market name: <a href="/markets/<%= market.id %>?name=<%= market.name %>"><%= market.name %></a>
			Distance from <%= zipcode %>: <%= market.distance %> miles
		  </li>
		</ul>
	<% end %>
	</div>
	</div>

</body>
</html>
