<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Farmer's Market Search</title>
</head>
<body>
	<h1><%= market.name %></h1>
	<% if not market.schedule.empty? %>
		<h2>Schedule</h2>
		<p>
			<%= market.schedule %>
		</p>
	<% end %>

	<% if not market.products.empty? %>
		<h2>Products Offered:</h2>
		<ul>
		<% market.products.each do |product| %>
			<li>
				<%= product %>
			</li>
		<% end %>
		</ul>
	<% end %>

	<h2>Address:</h2>
	<p> 
		<%= market.address %>
	</p>
	<a href="<%= market.googlelink %>">View in Google Maps</a>
	
</body>
</html>
